<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /3DGS_new/

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?asset=$1 [L]
</IfModule>